body, h1 {
  margin: 0;
  padding: 0;
}

body, button {
  font-family: 'Sen', sans-serif
}

button {
  background-color: transparent;
  color: white;
  border: none; 
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white; 
  color: black; 
}

body {
  background-image: url('/public/img/background-sand.jpg'); /* Replace with your image path */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  font-family: 'Sen', sans-serif;
  position: relative; /* Allows positioning of pseudo-element */
  z-index: 0; /* Ensure the body content appears above the overlay */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(255, 255, 255, 0.3); 
  pointer-events: none; 
  z-index: -1; 

}

/* Style the h1 element */
h1 {
  font-family: "La Belle Aurore", cursive; 
  font-size: 400%; 
  position: relative;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 2;
}

h3 {
  font-family: 'Sen', sans-serif; 
  font-size: 100%; 
  position: relative;
  top: -10%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 2;
}

.YogaMuse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh; 
  font-family: "La Belle Aurore", sans-serif; 
  font-size: 25px; 
  color: white; 
  text-align: left;
  padding-left: 10px; 
}

.YogaMuseDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 15vh; 
  font-family: 'Sen', sans-serif;
  font-weight: 50;
  font-size: 25px; 
  color: white; 
  text-align: left;
  padding-left: 10px; 
}

.FavoriteCategory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

/* Header styles */
h2 {
  font-family: 'Sen', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Buttons styles */
button {
  font-family: 'Sen', sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

button:hover {
  background-color: white;
  color: black;
}

/* Add Pose button style */
button.add-pose-button {
  margin-top: 20px;
}

/* Category information styles */
h3 {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Poses list styles */
h4 {
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

/* Pose details styles */
h5 {
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add Pose form styles */
.add-pose-form {
  margin-top: 20px;
}